@import "../../../myapp_variables.scss";


.jumbotron-img{
    width: 100%;
    top: -150px;
    position: fixed;
    z-index: -1;
    margin:auto;
}
.jumbotron{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    background-color: $themeBackgroundTransparent;
    width: 90%;
    min-height: 500px;
    margin: 60px auto;
    z-index: 10 !important;
    color: $themeBackgroundDark;
    font-size: 40px;
    p{
        color:$themeBackgroundDark;
        font-size: 20px;
        width: 70%;
        margin: auto;
    }
    .h1{
        width: 100%;
        font-size: 72px;
        font-weight:700 ;
    }
}

.learn-more-btn{
    @include btn-theme2;
    @include theme-btn;

}
