@import "../../../myapp_variables.scss";


.jumbotron-img{
    width: 100%;
    top:-10px;
    position: fixed;
    z-index: -1;
    margin:auto;
    overflow: hidden;
    opacity: 1;
}

.jumbotron{
    @include theme-transparent-bg;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 500px;
    // margin: 60px auto;
    z-index: 10 !important;
    font-size: 40px;
    p{
        font-size: 20px;
        color:$colorDark;
        width: 70%;
        margin: auto;
    }
    .jumbotron-h1{
        width: 100%;
        font-size: 72px;
        font-weight:700 ;
    }
    
}



.learn-more-btn{
    @include btn-theme2;
    @include theme-btn;
}



@media only screen and (max-width:700px) {
    .jumbotron {
        margin: 40px auto;
        min-height: 400px;
        padding: 10px;
        p{
            font-size: 15px;
        }
        .jumbotron-h1{
        font-size: 52px;
    }}
}

@media only screen and (max-width:576px) {
    .jumbotron {
        width: 95%;
        margin: 10px auto;
        min-height: 200px;
        padding: 10px;
        .jumbotron-h1{
        font-size: 22px;
        }
    }
    .jumbotron-img{
        // min-height:400px !important;
        top:100px;
    }


}


