$themeBackgroundDark:rgb(12,74,42);
$themeBackgroundLight:rgb(207,223,154);

.theme-background{
    background-color: $themeBackgroundDark;
}

.brand-name{
    color:white !important;
    font-size: 20px;
    font-weight: 900;
    color:white ;
}
.contact{
    font-size: 12px;
    color:rgb(190, 190, 190)
}

.brand-img{
    max-width:90px;
    max-height:90px;
}

.nav-link{
    color:white !important;
    font-size: 15px;
    font-weight: bold;
    &:hover{
        color:$themeBackgroundLight !important;
        transition: all 0.3s ease;
    }
}

.border-bottom{
    border-bottom: 2px solid $themeBackgroundLight !important;
    color:$themeBackgroundLight !important;
}

.book-now-btn{
    color:white;
    background:transparent;
    border: 1px solid white;
    border-radius: 15px;
    font-weight: bold;
    margin-left: 10px;
    &:hover{
        color:$themeBackgroundDark;
        background:$themeBackgroundLight;
        border: 1px solid $themeBackgroundLight;
        transition: all 0.3s ease-in-out;
    }
}