@import "../../../myapp_variables.scss";



.theme-transparent-background{
    @include theme-transparent-background;
}

.carousel-img{
    min-height: 300px;
    height: 100% !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carousel-text{
    height: 400px !important;
}

.read-more{
    color: $themeBackgroundDark;
    cursor: pointer;
    text-decoration: underline;
    display:none;
}


.carousel-indicators {
    
    bottom:-50px !important;
button{
    background-color: $themeBackgroundDark !important;
}
}

.carousel-control-prev-icon
{
    filter: invert(100%);
    margin-left:-30px !important;
    padding: -30px !important;
}


.carousel-control-next-icon
{
    filter: invert(100%);
    margin-right:-30px !important;
    padding: -30px !important;
}

@media only  screen and (max-width:576px){
   
    .carousel-img{
        max-height: 300px !important;
    }

    .carousel-text-wrap{
        padding-top: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.5rem;
        max-height: 3em;   
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* number of lines to show */
    }

    .read-more{
        display: block;
    }

    .carousel-text{
        height: 100% !important;
    }
   
}

// .carousel-control-prev-icon,
// .carousel-control-next-icon {
//   height: 100px;
//   width: 100px;
//   outline: black;
//   background-size: 100%, 100%;
//   border-radius: 50%;
//   background-image: none;
// }

// .carousel-control-next-icon:after
// {
//   content: '>';
//   font-size: 55px;
//   color:  $themeBackgroundDark ;
// }

// .carousel-control-prev-icon:after {
//   content: '<';
//   font-size: 55px;
//   color: $themeBackgroundDark ;
// }

// .carousel-control-prev-icon {
//  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
// }

// .carousel-control-next-icon {
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
// }