$myThemeColor:rgb(12,74,42);
$contrastColor:filter(100%);
$borderColor:gray;

.display-flex{
    background-color: $myThemeColor;
    display: flex;
    
}
.text-color{
    color:$myThemeColor;
    filter:invert(100%);
}

section{
    flex:3;
    padding:5px;
    cursor: pointer;
    h2{color:red;}
    p{color:white;
        &:hover{background-color:green}
    }
}

aside{
    flex:1;
    border:3px solid $borderColor;
    padding:5px;
    h3{color:blue;}
    p{color:white;}
}