$colorLight:rgb(207,223,154);
$colorDark:rgb(12,74,42);
$colorWhite :rgb(247,247,247);


@mixin btn-theme1{
    color: $colorWhite;
    background:transparent;
    border: 1px solid $colorWhite;
    &:hover{
        color: $colorDark;
        background:$colorWhite;
        border: 1px solid $colorWhite;
    }

    &:active{
        box-shadow: 0 0 5px $colorWhite;
        background-color:$colorWhite; 
    }
    &:focus{
        color: $colorWhite;
        background-color:none;
        border: 1px solid $colorWhite;
    }
}

@mixin btn-theme2{
    color:$colorDark;
    background:transparent;
    border: 1px solid $colorDark;
    &:hover{
        color: $colorWhite;
        background-color:$colorDark; 
    }
    &:active{
        box-shadow: 0 0 5px $colorDark;
        background-color:$colorDark;
    }
}



@mixin theme-btn{
    border-radius: 15px;
    font-weight: bold;
    margin-left: 10px;
    box-shadow: none !important;
    &:hover{
        transition: all 0.3s ease-in-out;
    }
    &:focus{
        background-color:$colorDark;
    }
}

@mixin theme-transparent-bg {
    background-color: rgba($colorLight,0.7);
    color: $colorDark;
}

@mixin bg-img{
    width: 100%;
    top:10px;
    z-index: -1;
    margin:auto;
    overflow: hidden;
    opacity: 1;
}
// global styles

.theme1-btn{
    @include btn-theme1;
    @include theme-btn;
}
.theme2-btn{
    @include btn-theme2;
    @include theme-btn;
}

.pointer{
    cursor: pointer;
}

.theme-bg{
    background-color: $colorDark;
    color: $colorWhite;
}

.theme-light-bg{
    background-color: $colorLight;
    color: $colorDark;
}



.theme-transparent-bg{
    @include theme-transparent-bg;
}

.theme-bg-white{
    background-color: $colorWhite;
}

.p-absolute{
    position: absolute;
}

.p-relative{
    position: relative;
}

.min-height-70{
    min-height: 70vh;
}

.min-height-80{
    min-height: 80vh;
}

.min-height-90{
    min-height: 90vh;
}

.min-height-100{
    min-height: 100vh;
}

.v-h-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-bottom{
    border-bottom: 1px solid $colorLight;
}

.border-top-1{
    border-top: 1px solid $colorLight;
}



.bg-img-fixed{
    @include bg-img;
    position: fixed;
}

.bg-img-sticky{
    @include bg-img;
    position: sticky;
}