$colorLight:rgb(207,223,154);
$colorDark:rgb(12,74,42);
$colorWhite :rgb(247,247,247);


@mixin btn-theme1{
    color: $colorWhite;
    background:transparent;
    border: 1px solid $colorWhite;
    &:hover{
        color: $colorDark;
        background:$colorWhite; 
    }
    &:active{
        box-shadow: 0 0 5px $colorWhite;
        background:$colorWhite; 
    }
}

@mixin btn-theme2{
    color:$colorDark;
    background:transparent;
    border: 1px solid $colorDark;
    &:hover{
        color: $colorWhite;
        background:$colorDark; 
    }
    &:active{
        box-shadow: 0 0 5px $colorDark;
        background:$colorDark;
    }
}

@mixin theme-btn{
    border-radius: 15px;
    font-weight: bold;
    margin-left: 10px;
    box-shadow: none !important;
    &:hover{
        transition: all 0.3s ease-in-out;
    }
}

@mixin theme-transparent-background {
    background-color: rgba($colorLight,0.7);
    color: $colorDark;
}
.pointer{
    cursor: pointer;
}

.theme-background{
    background-color: $colorDark;
    color: $colorWhite;
}

.theme-light-background{
    background-color: $colorLight;
    color: $colorDark;
}



.theme-transparent-background{
    @include theme-transparent-background;
}

.theme-background-white{
    background-color: $colorWhite;
}

.p-absolute{
    position: absolute;
}

.p-relative{
    position: relative;
}

.min-height-70{
    min-height: 70vh;
}

.min-height-80{
    min-height: 80vh;
}

.min-height-90{
    min-height: 90vh;
}

.min-height-100{
    min-height: 100vh;
}

.v-h-center{
    display: flex;
    align-items: center;
    justify-content: center;
}